.link-item {
  text-decoration: none;
}
.job-item {
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  background-color: #202020;
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.logo-title-location-container {
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  align-items: center;
}

.company-logo {
  height: 70px;
  width: 70px;
  margin-right: 20px;
}

.title-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: #fff;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
}

.rating-container {
  display: flex;
  align-items: center;
  padding-top: 0;
}

.star-icon {
  color: #fbbf24;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto';
}

.location-package-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.location-employee-container {
  display: flex;
  flex-direction: row;
}

location-container. {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding-left: 5px;
}

.location-icon {
  color: #fff;
  font-size: 22px;
  margin-right: 6px;
}
.location-heading {
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto';
}

.employee-type-container {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.employee-icon {
  color: #fff;
  font-size: 22px;
  margin-right: 6px;
}

.employee-type-heading {
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto';
}

.package-heading {
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto';
}

.line {
  color: #7e858e;
  width: 100%;
}

.job-heading {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
  margin-bottom: 0px;
}

.job-description {
  color: #fff;
  font-size: 15px;
  line-height: 1.8;
  font-family: 'Roboto';
}
